@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-display: optional;
  font-family: 'Kode Mono';
}

body {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  background: url(./assets/bg.webp);
}

button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: lowercase;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.65);
}

#root {
  width: min(100%, 800px);
  display: flex;
  justify-content: center;
}

.container-800 {
  width: min(100%, 800px);
}

.container-600 {
  width: min(95%, 600px);
}

.app-name {
  padding: 1em 0;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

.date {
  font-size: clamp(1rem, 5vw, 1.3rem);
  font-weight: 400;
  color: rgba(0, 0, 255, 0.689);
}

.todo-form {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
}

.todo-form label {
  opacity: 0;
  position: absolute;
}

.todo-form input {
  width: inherit;
  font-size: 1.2rem;
  border: none;
  outline: none;
  text-align: center;
  background-color: transparent;
}

.todo-form button {
  font-size: 1.2rem;
  margin-bottom: 3px;
  width: 105px;
  padding: 0.3em;
  text-transform: lowercase;
}
